@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    background-color:  black;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
/* largura do scroll */
::-webkit-scrollbar {
  width: 10px;
}

/* fundo */
::-webkit-scrollbar-track {
  background: #1e1e1e;
}

/* parte que você arrasta */
::-webkit-scrollbar-thumb {
  background: #4a90e2;
  border-radius: 5px;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: #357abd;
}

.card{
    aspect-ratio: 5 / 7;
    background-color: #1e1e1e;
    border-radius: 10px;
}