@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    background-color:  black;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}